*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.meme-generator{
    font-family: sans-serif;
    text-align: center;
}

.meme-generator img{
    height: 430px;
    object-fit: cover;
}

.meme-generator .generate-meme-btn{
    padding: 16px 40px;
    border: none;
    border-radius: 10px;
    color: black;
    background-color:aqua;
    margin-top: 6%;
    margin-bottom: 3%;
    font-size: 30px;
    cursor: pointer;
}

.meme-generator .generate-meme-btn:hover{
    background-color: rgb(122, 241, 241);
    transition: 0.5s;
    letter-spacing: 1px;

}

.meme-generator .meme-author{
    margin: 8px

}
